.wrapper-card {
    width: 25%;
    margin: 0;
}

.inner-wrapper {
    box-sizing: border-box;
    padding: 5px;
}

.wrapper-card img {
    display: block;
    width: 100%;
    height: auto;
}

.Battery-card {
    background: white;
    padding: 10px;
}

h2, h3 {
    text-align: left;
    font-size: 18px;
}

.Battery-card ul {
    margin-bottom: 0;
    text-align: left;
}

.Battery-card p {
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    margin: 0 0 5px;
}

.Battery-card span {
    font-weight: bold;
}
